body{
  background: linear-gradient(to bottom, skyblue,pink,pink,rgb(200, 198, 198));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  font-size: 23px;
  background-color:rebeccapurple;
  
}
.navbar li a{
  color: white;
  font-size: 30px;
  font-family: cursive;
}
.navbar li a:hover{
  color: black;
}
.route-div{
  display: flex;
  justify-content: center;
  margin: auto;
}
